<div class="top-section">
    <app-topsection></app-topsection>
</div>
<div class="middle-section">
    <div class="widget left">
        <app-left-widget></app-left-widget>
    </div>
    <div class="widget right">
        <app-right-widget></app-right-widget>
    </div>
</div>
<div class="bottom-section">
    <div class="widget left">
        <app-bottomleft-widget></app-bottomleft-widget>
    </div>
    <div class="widget right">
        <app-bottom-right-widget></app-bottom-right-widget>
    </div>
</div>