<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faNewspaper"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{totalMenu}}</div>
        <div class="bottom">MenuAvailable</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faFaceLaugh"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{totalCustomer}}</div>
        <div class="bottom">Customers</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faBox"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{totalQuantity}}</div>
        <div class="bottom">QuantitySold</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">346928</div>
        <div class="bottom">Total Revenue</div>
      </div>
    </div>
    <div class="widget blue">
        <div class="icon">
          <fa-icon [icon]="faMoneyBill"></fa-icon>
        </div>
        <div class="value">
          <div class="top">{{totalBill}}</div>
          <div class="bottom">Total Revenue</div>
        </div>
      </div>
  </div>