<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
</button>
  <span>Order Management</span>
  <div class="spacer"></div>
  <a mat-button routerLink="" routerLinkActive="active"></a>
  <a mat-button routerLink="Account/login" routerLinkActive="active">Login</a>
  <a mat-raised-button color="accent" (click)="logout()" style="cursor: pointer">Logout</a>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
  <mat-nav-list>
      <mat-list-item>
          <button routerLink="Dashboard" mat-button><mat-icon>dashboard</mat-icon> Dashboard</button>
      </mat-list-item>

      <mat-list-item>
        <button routerLink="Item" mat-button><mat-icon>analytics</mat-icon>Item</button>
     </mat-list-item>

     <mat-list-item>
      <button routerLink="Recipe" mat-button><mat-icon>analytics</mat-icon>Recipe</button>
    </mat-list-item>

     <mat-list-item>
      <button routerLink="DailyMenu" mat-button><mat-icon>analytics</mat-icon>DailyMenu</button>
    </mat-list-item>

      <mat-list-item>
          <button routerLink="SaleHeader" mat-button><mat-icon>analytics</mat-icon>Sales</button>
      </mat-list-item>

      <mat-list-item>
          <button routerLink="Requisition" mat-button><mat-icon>analytics</mat-icon>Requisition</button>
      </mat-list-item>

      <mat-list-item>
        <button routerLink="Procurement" mat-button><mat-icon>analytics</mat-icon>Procurement</button>
     </mat-list-item>

     <mat-list-item>
      <button routerLink="Stock" mat-button><mat-icon>analytics</mat-icon>Stock</button>
   </mat-list-item>
  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
      <div style="text-align: center;min-height: 600px;">
         <router-outlet></router-outlet>
      </div>
  </mat-drawer-content>
</mat-drawer-container>



<!-- <mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Order Management</span>
  <div class="spacer"></div>
  <a mat-button routerLink="" routerLinkActive="active"></a>
  <a mat-button routerLink="SaleHeader" routerLinkActive="active">SaleHeader</a>
  <a mat-button routerLink="DailyMenu" routerLinkActive="active">DailyMenu</a>
  <a mat-button routerLink="Recipe" routerLinkActive="active">Recipe</a>
  <a mat-button routerLink="Item" routerLinkActive="active">Item</a>
  <a mat-button routerLink="Requisition" routerLinkActive="active">Requisition</a>
  <a mat-button routerLink="Account/login" routerLinkActive="active">Login</a>
  <a mat-raised-button color="accent" (click)="logout()" style="cursor: pointer">Logout</a>
</mat-toolbar>


<div style="text-align: center;min-height: 100vh;">
  <router-outlet></router-outlet>
</div> -->